div.section
    h1 Add a database

    div.content
        label(for='name') Database name: 
        input.form-control(ng-model='form.name', name='name', type='text')

        button.submit_post.btn(ng-click='createDb()') Create
