div.table_view
    div.section
        h1 Add a document in {{table}}

        div.content(ng-switch="", on="status")
            div(ng-switch-when="loading")
                img(src="images/ajax-loader.gif")
            div(ng-switch-when="error")
                div Sorry, an error occurred, please <a href="#" ng-click="refresh($event)">try again</a>.
            div(ng-switch-when="ready")

                div.update_form_container
                    div.doc_form_container(ng-include="", src="'partials/doc_form_field'")

                    div.button_container
                        button.float.btn(ng-click='cancel()') Cancel
                        button.float.btn(ng-click='insertDoc()') Insert

