div.section
    h1 Delete a table

    div.content
        p Are you sure you want to delete the table 
            strong {{table}}
            |  in 
            strong {{database}}

        button.float.btn(ng-click='home()') No thanks
        button.float.btn(ng-click='deleteTable()') Yes, delete
