div.table_view(ng-switch="", on="status")
    div.actions(ng-switch="", on="display == -1")
        a(href="doc/add/{{db}}/{{table}}") Add a document
        a(href="field/add/{{db}}/{{table}}") Add a field
        a.meta_action(href="export/{{db}}/{{table}}") Export
        a.meta_action(href="import/{{db}}/{{table}}") Import
        a.meta_action(href="empty/{{db}}/{{table}}") Empty
        a.meta_action(href="delete/table/{{db}}/{{table}}") Delete this table

    div.alert.hidden
        a.close(href="#", ng-click="hide($event)") ×
        span.alert_content

    div(ng-switch-when="loading")
        img(src="images/ajax-loader.gif")

    div.section(ng-switch-when="error")
        h1 Error
        div.content Sorry, an error occurred, please <a href="#" ng-click="refresh($event)">try again</a>.

    div(ng-switch-when="empty")
        div.table_view(ng-switch="", on="status")
            div.section
                h1 No document

                div.content
                    p No documents were returned.
                    p
                        a(href="#", ng-click="goBack($event)") Go back
                        |  or 
                        a(href="doc/add/{{db}}/{{table}}") add a document

    div(ng-switch-when="list")
        div.link_previous_next(ng-switch="", on="skip > 0")
            p(ng-switch-when="true") <a href="/table/{{db}}/{{table}}/{{max(skip-limit, 0)}}/{{limit}}/{{order}}/{{ascDescValue}}">«« Previous</a>
            p(ng-switch-default) «« Previous
        div.link_previous_next ||

        div.link_previous_next
            div page  
                select.page(ng-change="jump(page)", ng-model="page", name="page", ng-options="page for page in pages")
            
        div.link_previous_next ||
        div.link_previous_next(ng-switch="", on="more_data")
            p(ng-switch-when="1") <a href="/table/{{db}}/{{table}}/{{skip+limit}}/{{limit}}/{{order}}/{{ascDescValue}}">Next »»</a>
            p(ng-switch-default) Next »»

        table.results.table.table-bordered(ng-class="{order_only_with_index: orderOnlyWithIndex==true}")
            tr.fields
                th.pound_key
                    div #
                th(ng-repeat="field in fields", class="col-{{$index}}", ng-class="{cannot_be_updated: $index==0, has_index: field.has_index == true}")
                    div.expand(ng-mousedown="resize($index, $event)")
                        div.field_container(ng-mousedown="stopPropagation($event)")
                            span.field_span {{field.name}}
                            div.center_edit_container
                                a(ng-click="renameFieldConfirm($index)")
                                    i.icon-edit.center_edit
                                a(ng-click="deleteFieldConfirm($index)")
                                    i.icon-trash.center_edit
                                a(href="table/{{db}}/{{table}}/0/{{limit}}/{{field.name}}/asc")
                                    i.icon-arrow-up.center_edit
                                a(href="table/{{db}}/{{table}}/0/{{limit}}/{{field.name}}/desc")
                                    i.icon-arrow-down.center_edit



             tr(ng-show="changeField == true")
                th.op(colspan="{{fields.length+1}}", ng-switch="", on="operation")
                    div.confirm_delete.alert.no_border_top(ng-switch-when="delete")
                        h3.alert_title Delete a field
                        p Are you sure you want to delete the field
                            em  {{fieldToChangeStr}}
                            |  for
                            strong  all
                            |  documents ?
                        div.button_container
                            button.float.btn(ng-click='cancel()') Cancel
                            button.float.btn(ng-click='deleteField()') Delete
                    div.update_form_container.alert.no_border_top(ng-switch-when="rename")
                        h3.alert_title Rename the field {{fieldToChangeStr}}
                        div.doc_form_container
                        input(type="text", name="newFieldName", class="newFieldName", ng-model="newFieldName", ng-enter="renameField")

                        div.button_container
                            button.float.btn(ng-click='cancel()') Cancel
                            button.float.btn(ng-click='renameField()') Update

                                   
            tbody(ng-repeat="document in flattened_docs", ng-switch="", on="display == $index")
                tr.doc(class="doc-{{$index}}")
                    td.index_cell
                        div.expand_vertical(ng-mousedown="resizeVertical($index, $event)")
                            div.field_container(ng-mousedown="stopPropagation($event)")
                                span.to_hide {{$index+skip}}
                                a(ng-click="updateTrigger($index)")
                                    i.icon-edit.float_edit
                                a(ng-click="deleteTrigger($index)")
                                    i.icon-trash.float_edit
                    td.value_td(ng-repeat="field in document", class="col-{{$index}}")
                        div.value_container(class="{{field.type}}") {{formatValue(field.value)}}
                tr(ng-switch-when="true")
                    td.op(colspan="{{document.length+1}}", class="op-{{$index}}", ng-switch="", on="operation")
                        div.confirm_delete.alert.no_border_top(ng-switch-when="delete")
                            h3.alert_title Delete a document
                            p Are you sure you want to delete the document above?
                            div.button_container
                                button.float.btn(ng-click='cancel()') Cancel
                                button.float.btn(ng-click='deleteDoc($index)') Delete
                        div.update_form_container.alert.no_border_top(ng-switch-when="update")
                            h3.alert_title Update a document
                            div.doc_form_container(ng-model="form", ng-include='', src="'partials/doc_form_field'", onload="pushScope(documents[$index])")

                            div.button_container
                                button.float.btn(ng-click='cancel()') Cancel
                                button.float.btn(ng-click='updateDoc()') Update


        div.link_previous_next(ng-switch="", on="skip > 0")
            p(ng-switch-when="true") <a href="/table/{{db}}/{{table}}/{{max(skip-limit, 0)}}/{{limit}}/{{order}}/{{ascDescValue}}">«« Previous</a>
            p(ng-switch-default) «« Previous
        div.link_previous_next ||

        div.link_previous_next
            div page  
                select.page(ng-change="jump(page)", ng-model="page", name="page", ng-options="page for page in pages")
            
        div.link_previous_next ||
        div.link_previous_next(ng-switch="", on="more_data")
            p(ng-switch-when="1") <a href="/table/{{db}}/{{table}}/{{skip+limit}}/{{limit}}/{{order}}/{{ascDescValue}}">Next »»</a>
            p(ng-switch-default) Next »»


