div.section(ng-switch on="status")
    h1 Add a table

    div.content(ng-switch-when="loading")
        img(src="images/ajax-loader.gif")

    div(ng-switch-when="error")
        div.content Sorry, an error occurred, please try again.


    div.content(ng-switch-when="empty")
        p No database found.
        p Please 
            a(href="/add/db") create one
            |  before creating a table.

    div.content(ng-switch-when="ready")
        label(for='database') Database : 
        select(ng-model="form.database", name="database", ng-options="database for database in databases", ng-disabled="authors.length == 0")

        label(for='table') Table name : 
        input.form-control(ng-model='form.table', name='table', type='text', ng-enter="createTable")

        label(for='primaryKey') Primary key : 
        input.form-control(ng-model='form.primaryKey', name='primaryKey', type='text', placeholder="default value: id", ng-enter="createTable")

        button.submit_post.btn(ng-click='createTable()') Create
