div.section(ng-switch on="status")
    h1 Add a table

    div.content(ng-switch-when="loading")
        img(src="images/ajax-loader.gif")

    div.content(ng-switch-when="error")
        div Sorry, an error occurred, please <a href="#" ng-click="refresh($event)">try again</a>.


    div.content(ng-switch-when="empty")
        p No database found.
        p Please 
            a(href="/add/db") create one
            |  before creating a table.

    div.content(ng-switch-when="ready")
        label(for='db') Database : 
        select(ng-model="form.db", name="db", ng-options="db for db in dbs")

        label(for='table') Table name : 
        input.form-control.name(ng-model='form.table', name='table', type='text', ng-enter="createTable", ng-auto-focus)

        label(for='primaryKey') Primary key : 
        input.form-control(ng-model='form.primaryKey', name='primaryKey', type='text', placeholder="default value: id", ng-enter="createTable")

        button.submit_post.btn(ng-click='createTable()') Create
