div.section
    h1 Add a table

    div.content
        label(for='database') Database : 
        select(ng-model="form.database", name="database", ng-options="database for database in databases", ng-disabled="authors.length == 0")

        label(for='table') Table name : 
        input.form-control(ng-model='form.table', name='table', type='text')

        label(for='primaryKey') Primary key : 
        input.form-control(ng-model='form.primaryKey', name='primaryKey', type='text', placeholder="default value: id")

        button.submit_post.btn(ng-click='createTable()') Create
