!!!
html(ng-app="chateau")
    head
        meta(charset='utf8')
        base(href='/')
        title Chateau - Data explorer for RethinkDB
        link(rel='stylesheet', href='/css/bootstrap-combined.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        #wrapper
            header(ng-controller="mainCtrl")
                a(href="/") Chateau
                span(ng-show="db != null")  > 
                a(href="/db/{{db}}") {{db}}
                span(ng-show="table != null")  > 
                a(href="/table/{{db}}/{{table}}") {{table}}

            div.nav
                ul.nav_list
                    li.nav_element
                        a(href="/")
                            img(src="/images/database.png")

            #content_wrapper
                #content
                    div.main_padding(ng-view)

            #error


    script(src='js/lib/angular/angular-1.0.7.js')
    script(src='js/lib/jquery-2.0.3.min.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
