<!DOCTYPE html>
<html lang="en-US"> 
<head> 
	<meta charset="utf-8" /> 
	<title><%= title %></title> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/underscore.js"></script>
    <script type="text/javascript" src="javascripts/backbone.js"></script>
    <script type="text/javascript" src="javascripts/handlebars.runtime.js"></script>
    <script type="text/javascript" src="javascripts/template.js"></script>
    <script type="text/javascript" src="/config.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</head>
<body>
    <div id="wrapper">
        <header><a href="/">Chateau - RethinkDB's castle</a></header>
        <div class="nav">
            <ul>
                <li>X</li>
                <li>Y</li>
            </ul>
        </div>

        <div id="content_wrapper">
            <div id="content">
                Heloo  <br/>
                Heloo  <br/>
                Heloo  <br/>
                Heloo  <br/>
                Heloo  <br/>
                Heloo  <br/>
            </div>
        </div>

    </div>
</body>
</html>
