// Mixins
.border_radius(radius)
    -webkit-border-radius: radius
    -moz-border-radius: radius
    -ms-border-radius: radius
    -o-border-radius: radius
    border-radius: radius


.background_gradient (top_color, bottom_color)
    background: top_color
    background: -moz-linear-gradient(top,  top_color 0%, bottom_color 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,top_color), color-stop(100%,bottom_color))
    background: -webkit-linear-gradient(top,  top_color 0%,bottom_color 100%)
    background: -o-linear-gradient(top,  top_color 0%,bottom_color 100%)
    background: -ms-linear-gradient(top,  top_color 0%,bottom_color 100%)
    background: linear-gradient(to bottom,  top_color 0%,bottom_color 100%)

.drop_shadow(left, top, radius, offset, color)
    -moz-box-shadow: left top radius offset color
    -webkit-box-shadow: left top radius offset color
    box-shadow: left top radius offset color


.inner_shadow(left, top, radius, offset, color)
    -moz-box-shadow: inset left top radius offset color
    -webkit-box-shadow: inset left top radius offset color
    box-shadow: inset left top radius offset color
// End - Mixins

// Variables
background_color = #1D2C36
// End - Variables

// Global elements
html, body
    padding: 0px
    margin: 0px
    height: 100%
    background-color: #fff
    background: url('/images/stripe.png') repeat-y, url('/images/top_background.png') top left repeat-x;
#wrapper
    min-height: 100%
    height: 100%
    padding: 60px
    position: relative
    margin: 0px
    padding: 0px

.resizing{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// Header
header
    width: auto
    height: 30px
    margin: 0px
    padding: 12px 0px 0px 40px
    background: background_color url('/images/logo.png') 5px 5px no-repeat
    a
        font: monospace
        color: #fff
        font-weight: bold
        font-size: 1.2em
        text-decoration: none
        &:hover
            text-decoration: underline
            color: #fff

.nav
    float: left;
    width: 60px
    padding: 0px
    margin: 0px 0px 0px 0px
    display: inline-block
    list-style: none
    background: background_color
    .nav_list
        margin: 20px 0px 0px 0px
        padding: 0px
        list-style: none
        .nav_element
            border-top: 1px solid #2D3C46
            padding: 15px 0px
            width: 60px
            text-align: center
            &:last-child
                border-bottom: 1px solid #2D3C46


// End - Header

// Content
#content_wrapper
    width: auto
    height: auto
    margin-left: 60px
    background: background_color
    h1
        font-size: 1.2em
        margin: 0px
        padding: 3px 30px
        background: #fafafa
        border-top-left-radius: 15px
        border-bottom: 1px solid #ddd
        a
            color: #666
        .child
            font-size: 0.9em
            font-weight: normal


#content
    margin: 0px;
    background: #fff
    padding: 0px
    border-top-left-radius: 15px;
    display: inline-block
    min-width: 100%
.main_padding
    padding: 20px 30px 30px 30px
// Dashboard
.login
    .description-label
        margin: 3px 0px 3px 60px
    .save_config
        clear: both
        display: block
        margin-left: 60px
        float: left
    input
        display: block
        margin-left: 60px
    .error
        width: 460px
    .not_displayed
        display: none
    .loading
        margin: 8px 0px 0px 17px
        display: none
        &.checking
            display: block
            float: left
            margin: 2px 10px 0px 0px
// End - Dashboard

// TODO Merge styles that often repeat

// Home
.home
    .not_displayed
        display: none
    .top_content
        overflow: auto
    .loading
        margin: 8px 0px 0px 17px
        display: none
        float: left
        &.displayed
            display: block
            margin: 2px 10px 0px 0px
        &.next_to_select
            margin: 7px 10px 0px 10px

    .options_container
        float: right
        margin: 0px 0px 10px 0px
        .btn
            .icon-plus-sign
                margin: 1px 5px 0px 0px
            margin: 0px 0px 0px 15px
    .feedback_create
        display: none
        margin-bottom: -2px
    .add_something
        display: none
        clear: both
        position: relative;
        background: #fafafa
        border: 1px solid #ccc
        padding: 0px 0px 10px 0px
        margin-top: 10px
    .add_something:after, .add_something:before
        bottom: 100%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
    .add_something_db:after
        border-color: rgba(213, 213, 213, 0)
        border-bottom-color: #f3f3f3
        border-width: 9px
        right: 0%
        margin-right: 181px
        margin-bottom: -1px
    .add_something_db:before
        border-color: rgba(0, 0, 0, 0)
        border-bottom-color: #ccc
        border-width: 10px
        right: 0%
        margin-right: 180px
        margin-bottom: -1px
    .add_something_table:after
        border-color: rgba(213, 213, 213, 0)
        border-bottom-color: #f3f3f3
        border-width: 9px
        right: 0%
        margin-right: 51px
        margin-bottom: -1px
    .add_something_table:before
        border-color: rgba(0, 0, 0, 0)
        border-bottom-color: #ccc
        border-width: 10px
        right: 0%
        margin-right: 50px
        margin-bottom: -1px
    .add_something
        .title_container
            display: block
            background: #f3f3f3
            color: #000
            border-bottom: 1px solid #ccc
            h2
                padding: 1px 20px
                font-size: 1.2em
                font-weight: bold
                margin: 0px
                .close_add_something
                    float: right
                    color: #222;
        .add_content
            padding: 5px 20px
            p
                margin: 4px 0px
            .btn
                clear: both
                display: block
            .database_selected
                float: left
        .alert
            margin: 10px 20px

    .no_content
        color: #000
        font-weight: bold
        font-size: 1.2em

    .databases
        clear: both
        list-style: none;
        padding: 0px
        margin: 0px
        width: auto
        a
            color: #000
            font-weight: bold
            font-size: 1.2em
        .database_container
            clear: both
            list-style: none
            margin: 10px 0px

            .database
                overflow: auto
                padding: 5px 20px
                width: auto
                border: 1px solid #ccc
                background: #f3f3f3
                .database_options_container
                    float: right
                .link_container
                    margin: 6px 0px 3px 0px
                    float: left
                .icon-th-large
                    margin: 3px 8px 0px 0px
            .tables
                clear: both
                list-style: none
                padding: 0px
                margin: 0px
                width: auto
                .table_container
                    clear: both
                    overflow: auto
                    list-style: none
                    padding: 5px 20px
                    margin: 0px
                    border-left: 1px solid #ccc
                    border-right: 1px solid #ccc
                    border-bottom: 1px solid #ccc
                    background: #fafafa
                    width: auto
                    .table_options_container
                        float: right
                    .table
                        float: left
                        color: #444
                        width: auto
                        margin: 6px 0px 0px 0px
                        .icon-th
                            margin: 0px 8px 0px 5px

                    a
                        color: #444
                        font-size: 1em
                        font-weight: bold

    .delete_something
        display: none
        clear: both
        position: relative;
        background: #fff
        border: 1px solid #ccc
        padding: 0px 0px 10px 0px
        margin-top: 40px
    .delete_something:after, .add_something:before
        bottom: 100%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
    .delete_something_db:after
        border-color: rgba(213, 213, 213, 0)
        border-bottom-color: #f2dede
        border-width: 9px
        right: 0%
        margin-right: 11px
        margin-bottom: -1px
    .delete_something_db:before
        border-color: rgba(0, 0, 0, 0)
        border-bottom-color: #ccc
        border-width: 10px
        right: 0%
        margin-right: 10px
        margin-bottom: -1px
    .delete_something_table:after
        border-color: rgba(213, 213, 213, 0)
        border-bottom-color: #f2dede
        border-width: 9px
        right: 0%
        margin-right: 51px
        margin-bottom: -1px
    .delete_something_table:before
        border-color: rgba(0, 0, 0, 0)
        border-bottom-color: #ccc
        border-width: 10px
        right: 0%
        margin-right: 50px
        margin-bottom: -1px

    .delete_something_container
        margin-top: 30px
        .delete_something
            display: none
            .error
                margin: 10px
            .title_container
                display: block
                background: #f2dede
                color: #000
                border-bottom: 1px solid #ccc
                h3
                    padding: 1px 20px
                    font-size: 1em
                    font-weight: bold
                    margin: 0px
                    color: #b94a48
                .close_delete_something
                    float: right
                    color: #222;
            .warning_content
                background: #fff
                padding: 10px 20px
            .btn
                display: block
// End - Home


// Table view
.table_view
    .not_displayed
        display: none
    .top_content
        min-height: 50px
        min-width: 100%
        .options_container
            float: right
            margin: 0px 0px 10px 0px
            height: 40px
            .btn_add_document
                .icon-plus-sign
                    margin: 1px 5px 0px 0px
                position: fixed
                right: 0px
                margin: 10px 30px 0px 0px

    .loading
        margin: 2px 11px 0px 17px
        float: left
        &.displayed
            display: block
            margin: 2px 10px 0px 0px
        &.next_to_select
            margin: 7px 10px 0px 10px


    .feedback_create
        display: none
        margin-bottom: -2px
    .add_document
        display: none
        position: fixed
        right: 0px
        margin: 0px 0px 20px 0px
        clear: both
        position: relative;
        background: #fafafa
        border: 1px solid #ccc
        padding: 0px
    .add_document:after, .add_document:before
        bottom: 100%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
    .add_document:after
        border-color: rgba(213, 213, 213, 0)
        border-bottom-color: #f3f3f3
        border-width: 9px
        right: 0%
        margin-right: 71px
        margin-bottom: -1px
    .add_document:before
        border-color: rgba(0, 0, 0, 0)
        border-bottom-color: #ccc
        border-width: 10px
        right: 0%
        margin-right: 70px
        margin-bottom: -1px
    .add_document, .update_document
        .title_container
            display: block
            background: #f3f3f3
            color: #000
            border-bottom: 1px solid #ccc
            h2
                padding: 1px 20px
                font-size: 1.2em
                font-weight: bold
                margin: 0px
                .close_add_document
                    float: right
                    color: #222;
        .add_document_content, .update_container
            padding: 0px
            p
                margin: 4px 0px
            .btn
                clear: both
                display: block
            .database_selected
                float: left
            .fields_main_container
                padding: 5px 20px
                .field
                    &.field_is_object
                        width: 532
                    max-width: 500px
                    select
                        padding: 0px 6px
                        box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        -webkit-box-sizing: content-box;
                    .key_name_container
                        float: left
                        padding: 8px 0px 0px 0px
                        .undefined_key_name
                            margin-top: -7px
                            width: 196px
                    .type_container
                        margin-left: 10px;
                        float: right
                        select
                            margin: 0px 0px 5px 0px
                    .value
                        clear: both
                        padding: 0px 14px 0px 0px
                        &.value_is_object
                            width: 500px
                            margin-left: 10px
                            border-left: 2px dotted #ccc
                            padding: 10px 0px 10px 20px
                        .field_value
                            width: 100%
                        .text_field
                            height: 70px
                            overflow: hidden
                        .short_field
                            height: 20px
                            overflow: hidden
                    input:disabled
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
        .submit_add_document
            margin: 20px 0px


        .alert
            margin: 10px 20px

    .no_content
        color: #000
        font-weight: bold
        font-size: 1.2em
    .content_displayer
        visibility: hidden
    .content_container
        clear: both
        font: 13px/18px monospace, mono, consolas
        border-collapse:collapse;
        .no_doc
            font: 13px verdana
        .entry
            position: relative
            &:hover
                .options_document
                    .btn
                        visibility: visible
                    &.options_document_hidden
                        .btn
                            visibility: hidden


        .options_document
            margin: 0px
            .btn
                margin-top: 5px
        .options_document_float
            width: 90px
            min-width: 90px
            height: 39px
            padding: 0px 20px
            .btn
                visibility: hidden
        .options_document_fixed
            position: fixed
            right: 0px
            z-index: 10
            width: 90px
            min-width: 90px
            height: 39px
            padding: 0px 20px
            .btn
                visibility: hidden


        .td_value
            position: relative
            border: 1px solid #aaa
            padding: 0px
            overflow: hidden
            max-width: 310px
            .click_detector
                /* height: 34px // Need more work */
                padding: 0px 6px 0px 0px
                cursor: e-resize
                .value_container
                    padding: 10px 0px 6px 10px
                    cursor: text
                    max-width: 290px
                    white-space: pre
                    overflow: hidden
                .value_undefined
                    color: #ccc
                .value_null
                    color: #f00
                .value_number
                    color: #00f
                .value_string
                    color: #080
                .value_boolean
                    color: #e0f
        .attr
            font-weight:bold
            color: #444
            background: #eee
        .record_num
            color: #444
            background: #eee
            padding: 10px
            &.first
                visibility: hidden
                border-left: none
                border-top: none
        .delete_document
            max-width: 100%
            .delete_container
                display: none
                font-family: Verdana
                margin: 10px 30px
                border: 1px solid #ccc
                .inviisble_cell
                    visibility: hidden
                .title_container
                    display: block
                    background: #f2dede
                    color: #000
                    border-bottom: 1px solid #ccc
                    h3
                        padding: 1px 20px
                        font-size: 1em
                        font-weight: bold
                        margin: 0px
                        color: #b94a48
                    .close_delete_document
                        float: right
                        color: #222;
                .warning_content
                    overflow: auto
                    background: #fff
                    padding: 10px 20px
                    .primary_key_container
                        padding-left: 20px
                    .btn_submit_confirm_delete
                        float: right
                .btn
                    display: block
        .update_document
            max-width: 100%
            .update_container
                display: none
                font-family: Verdana
                margin: 10px 30px
                border: 1px solid #ccc
                .inviisble_cell
                    visibility: hidden
                .title_container
                    display: block
                    background: #fcf8e3
                    color: #000
                    border-bottom: 1px solid #ccc
                    h3
                        padding: 1px 20px
                        font-size: 1em
                        font-weight: bold
                        margin: 0px
                        color: #222
                    .close_delete_document
                        float: right
                        color: #222;
                .warning_content
                    overflow: auto
                    background: #fff
                    padding: 10px 20px
                    .primary_key_container
                        padding-left: 20px
                    .btn_submit_confirm_delete
                        float: right
                .btn
                    display: block

// End - Table View
