<div class="title_container">
<h2>New document
<a href="#" class="close_add_document">&times;</a>
</h2>
</div>

<div class="alert alert-error not_displayed error_add_document">
    <a href="#" class="close">&times;</a>
    <span class="error_create_content"></span>
</div>

<div class="fields_main_container">
    <div class="fields_container">
    </div>
    <button class="btn submit_add_document">Add</button>
</div>
