<h1>List of databases and tables</h1>
<div class="alert alert-error not_displayed error"></div>
<img src="/images/ajax-loader.gif" class="loading" />
<button class="btn">New database</button>
<button class="btn">New table</button>
<ul class="databases">
</ul>
