{{#if ajax_fail}}
Something went wrong with the ajax request. Please try again.<br/>
{{/if}}
{{#if db_name_empty}}
A database name can not be empty.<br/>
{{/if}}
{{#if table_name_empty}}
A table name can not be empty.<br/>
{{/if}}
{{#if need_a_database_first}}
You need to create a database first.<br/>
{{/if}}
{{#if server_error}}
An error occured on the server.
<pre>{{error}}</pre>
{{/if}}
{{#if ajax_fail_try_load_databases}}
We could not load the databases. Please <a href="#" class="add_database_option_again">try</a> again.<br/>
{{/if}}
{{#if wrong_db_name}}
You have to enter the name of this database to delete it.<br/>
{{/if}}
{{#if wrong_table_name}}
You have to enter the name of this table to delete it.<br/>
{{/if}}
{{#if port_non_integer}}
Port must be integer (or empty for the default value - 28915).<br/>
{{/if}}
{{#if http_port_non_integer}}
Http port must be integer (or empty for the default value - 8080).<br/>
{{/if}}
{{#if both_port_non_integer}}
Port and Http port must be integer (or empty for the default value).<br/>
{{/if}}
{{#if connection_rdb_fail}}
We could not connect to the database. Please verify your settings.<br/>
{{/if}}
{{#if connection_http_fail}}
We could connect to RethinkDB but connect to the http interface.<br/>
{{/if}}
{{#if save_file_fail}}
Could not save settings in a file. Wrong port?<br/>
{{/if}}
{{#if nan_value_found}}
The attribute {{key_name}} has been defined as a number but the value parsed to NaN.<br/>
{{/if}}
{{#if redundant_key}}
The key {{key_name}} has been used more than once.
{{/if}}
