{{#if delete_db}}
    <div class="title_container">
        <h3>
            Delete database
            <a href="#" class="close_delete_something">&times;</a>
        </h3>
    </div>
    <div class="alert alert-error not_displayed error">
        <a href="#" class="close">&times;</a>
        <span class="error_content"></span>
    </div>

    <div class="warning_content">
        <p>You are about to delete a database and all its tables. This operation is <strong>irreversible.</strong><br/>
        Confirm that you definitively want to delete this database by writing its name.</p>
        <input type="text" class="confirm_name" data-name={{name}}>
        <button class="btn btn_confirm_delete">Delete</button>
    </div>
{{/if}}
{{#if delete_table}}
    <div class="title_container">
        <h3>
            Delete table
            <a href="#" class="close_delete_something">&times;</a>
        </h3>
    </div>
    </div>
    <div class="alert alert-error not_displayed error">
        <a href="#" class="close">&times;</a>
        <span class="error_content"></span>
    </div>

    <div class="warning_content">
        <p>You are about to a table. This operation is <strong>irreversible.</strong><br/>
        Confirm that you definitively want to delete this table by writing its name.</p>
        <input type="text" class="confirm_name" data-name="{{name}}" data-database="{{database}}">
        <button class="btn btn_confirm_delete">Delete</button>
    </div>
{{/if}}
