<td class="options_document options_document_float">
    <button class="btn btn_update_document"><i class="icon-edit"></i></button>
    <button class="btn btn_delete_document"><i class="icon-remove-circle"></i></button>
</td>

