<td colspan={{colspan}}>
    <div class="update_container">
        <div class="title_container">
            <h3>
                Update document
                <a href="#" class="close_update_document">&times;</a>
            </h3>
        </div>
        <div class="alert alert-error not_displayed error">
            <a href="#" class="close">&times;</a>
            <span class="error_content"></span>
        </div>
        <div class="warning_content">
            <div class="content fields_main_container"></div>
            <button class="btn btn_submit_confirm_update">Update</button>
        </div>
    </div>
</td>
<td class="invisible_cell"></td>
